<%- include("partials/header") -%>

<h1>Home</h1>

<p> <%- homeParagraph -%> </p>
<hr>

<% for (var i = 0; i < blogPosts.length; i++) { %>
<div>
    <h1><%= blogPosts[i].title; %></h1>
    <p><%= blogPosts[i].body; %></p>
</div>
<% } %>

<%- include("partials/footer") -%>